/**
 * Global Application Styles
 */
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import "constants";

body {
	background-color: $primary-bg;
	color: #ffffff;
	font-family: $primary-font;
	font-size: $primary-font-size;
}